In [7]:
df <- read.csv('adult_data.csv', stringsAsFactors=TRUE)
head(df)

  age workclass        fnlwgt education education.num marital.status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
4 53  Private          234721 11th       7            Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital.gain capital.loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hours.per.week native.country salary
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

In [ ]:
# 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [8]:
male <- df[df$sex == 'Male', ]

In [9]:
nrow(male)

[1] 21790

In [10]:
fem <- df[df$sex == 'Female', ]

In [11]:
nrow(fem)

[1] 10771

In [ ]:
# ответ - 21790 мужчин и 10771 женщина

In [6]:
# 2. Каков средний возраст (признак age) женщин?

In [12]:
mean(df[df$sex == 'Female', 'age'])

[1] 36.85823

In [ ]:
# 3. Какова доля граждан Германии (признак native-country)?

In [13]:
prop.table(table(df$native.country))

                         ?                   Cambodia
              1.790486e-02               5.835202e-04
                    Canada                      China
              3.716102e-03               2.303369e-03
                  Columbia                       Cuba
              1.811984e-03               2.917601e-03
        Dominican-Republic                    Ecuador
              2.149811e-03               8.599244e-04
               El-Salvador                    England
              3.255428e-03               2.764043e-03
                    France                    Germany
              8.906360e-04               4.207487e-03
                    Greece                  Guatemala
              8.906360e-04               1.965542e-03
                     Haiti         Holand-Netherlands
              1.351310e-03               3.071159e-05
                  Honduras                       Hong
              3.992506e-04               6.142317e-04
                   Hungary                      India
              3.992506e-04               3.071159e-03
                      Iran                    Ireland
              1.320598e-03               7.370781e-04
                     Italy                    Jamaica
              2.241946e-03               2.487639e-03
                     Japan                       Laos
              1.904118e-03               5.528086e-04
                    Mexico                  Nicaragua
              1.974755e-02               1.044194e-03
Outlying-US(Guam-USVI-etc)                       Peru
              4.299622e-04               9.520592e-04
               Philippines                     Poland
              6.080894e-03               1.842695e-03
                  Portugal                Puerto-Rico
              1.136329e-03               3.501121e-03
                  Scotland                      South
              3.685390e-04               2.456927e-03
                    Taiwan                   Thailand
              1.566291e-03               5.528086e-04
           Trinadad&Tobago              United-States
              5.835202e-04               8.958570e-01
                   Vietnam                 Yugoslavia
              2.057676e-03               4.913854e-04

In [ ]:
# ответ: 4.207487e-03

In [ ]:
# 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [9]:
prop.table(table(df$native.country == Germany))

ERROR: Error in table(df$native.country == Germany): object 'Germany' not found

In [ ]:
# 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [14]:
a <- df[df$salary == '>50K', ]

In [15]:
library(dplyr)
a %>% group_by(education) %>% summarise(n = n())

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

   education    n
1  10th           62
2  11th           60
3  12th           33
4  1st-4th         6
5  5th-6th        16
6  7th-8th        40
7  9th            27
8  Assoc-acdm    265
9  Assoc-voc     361
10 Bachelors    2221
11 Doctorate     306
12 HS-grad      1675
13 Masters       959
14 Prof-school   423
15 Some-college 1387

In [ ]:
# ответ: нет, неправда, здесь мы можем видеть и людей с другим образованием,которые столько зарабатывают

In [ ]:
# 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [ ]:
# 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [2]:
hours = df %>% group_by(salary) %>% summarise(n = n(), max = max(hours.per.week))

SyntaxError: invalid syntax (<ipython-input-2-35c2843b04a4>, line 1)

In [ ]:
# 10. 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [16]:
high <- df[df$salary == '>50K', ]
low <- df[df$salary == '<=50K', ]

In [18]:
high %>% group_by(native.country) %>% summarise(mean = mean(hours.per.week))

   native.country     mean
1  ?                  45.54795
2  Cambodia           40.00000
3  Canada             45.64103
4  China              38.90000
5  Columbia           50.00000
6  Cuba               42.44000
7  Dominican-Republic 47.00000
8  Ecuador            48.75000
9  El-Salvador        45.00000
10 England            44.53333
11 France             50.75000
12 Germany            44.97727
13 Greece             50.62500
14 Guatemala          36.66667
15 Haiti              42.75000
16 Honduras           60.00000
17 Hong               45.00000
18 Hungary            50.00000
19 India              46.47500
20 Iran               47.50000
21 Ireland            48.00000
22 Italy              45.40000
23 Jamaica            41.10000
24 Japan              47.95833
25 Laos               40.00000
26 Mexico             46.57576
27 Nicaragua          37.50000
28 Peru               40.00000
29 Philippines        43.03279
30 Poland             39.00000
31 Portugal           41.50000
32 Puerto-Rico        39.41667
33 Scotland           46.66667
34 South              51.43750
35 Taiwan             46.80000
36 Thailand           58.33333
37 Trinadad&Tobago    40.00000
38 United-States      45.50537
39 Vietnam            39.20000
40 Yugoslavia         49.50000

In [19]:
low %>% group_by(native.country) %>% summarise(mean = mean(hours.per.week))

   native.country             mean
1  ?                          40.16476
2  Cambodia                   41.41667
3  Canada                     37.91463
4  China                      37.38182
5  Columbia                   38.68421
6  Cuba                       37.98571
7  Dominican-Republic         42.33824
8  Ecuador                    38.04167
9  El-Salvador                36.03093
10 England                    40.48333
11 France                     41.05882
12 Germany                    39.13978
13 Greece                     41.80952
14 Guatemala                  39.36066
15 Haiti                      36.32500
16 Holand-Netherlands         40.00000
17 Honduras                   34.33333
18 Hong                       39.14286
19 Hungary                    31.30000
20 India                      38.23333
21 Iran                       41.44000
22 Ireland                    40.94737
23 Italy                      39.62500
24 Jamaica                    38.23944
25 Japan                      41.00000
26 Laos                       40.37500
27 Mexico                     40.00328
28 Nicaragua                  36.09375
29 Outlying-US(Guam-USVI-etc) 41.85714
30 Peru                       35.06897
31 Philippines                38.06569
32 Poland                     38.16667
33 Portugal                   41.93939
34 Puerto-Rico                38.47059
35 Scotland                   39.44444
36 South                      40.15625
37 Taiwan                     33.77419
38 Thailand                   42.86667
39 Trinadad&Tobago            37.05882
40 United-States              38.79913
41 Vietnam                    37.19355
42 Yugoslavia                 41.60000